
.depoimentos{
  padding: 100px 180px;
}

.background-depoimentos{
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  background: url(../img/bg-icons-1.png);
}

.card-depoimentos{
  height: 390px;
  width: 390px;
  border-radius: 120px;
  background: var(--color-secondary);
  left: 0;
}

.container-dados-depoimento{
  display: flex;
}

.depoimento{
  margin-top: 70px;
}

.imagem-depoimento{
  width: 65px;
  height: 65px;
  background: var(--color-white);
  border-radius: 50%;
  background-repeat: repeat;
  background-position: center;
  margin-right: 15px;
}

#depoimento-1 .imagem-depoimento{
  background-image: url(../img/diego.jpg);
  background-size: cover;
}
#depoimento-2 .imagem-depoimento{
  background-image: url(../img/ana.jpg);
  background-size: cover;
}
#depoimento-3 .imagem-depoimento{
  background-image: url(../img/joao.jpg);
  background-size: cover;
}

.nome-depoimento{
  color: var(--color-black);
  font-size: 22px;
  margin-bottom: 5px;
}

.nota-depoimento{
  color: var(--color-primary);
}

.nota-depoimento span{
  color: var(--color-black);
}

.texto-depoimento{
  display: flex;
  font-size: 16px;
  color: var(--color-black);
}

.texto-depoimento i{
  font-size: 35px;
  color: var(--color-primary);
}

.texto-depoimento i:first-child{
  padding-inline: 10px 35px;
}
.texto-depoimento i:last-child{
  padding-left: 35px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.dp a{
  width: 50px;
  text-align: center;
}


