.background-servicos{
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  background-image: url(../img/bg-icons-2.png);
}

.servicos{
  padding-block: 100px 150px;
}

.hint-title{
  color: var(--color-primary);
  font-size: 1.10rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
}

.title{
  color: var(--color-black);
  font-size: 40px;
  margin-block: 5px 30px;
}


.card-icon{
  height: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text{
  color: var(--color-text-out);
  font-size: 15px;
  padding: 0px 30px;
}

.card-text p{
  font-size: 22px;
  color: var(--color-black);
  margin-bottom: 10px;
}